.container {
    display: flex;
}

.player-choice ul {
list-style-type: none;
padding: 0;
display: flex;
}

ul li {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

a {
    font-size: 7px;
}

.computer-choice {
    margin-left: 100px;
}

.computer-choice img {

}

.game-scorer {
text-align: center;    
}